.DS_Store

# Python bytecode
__pycache__

# Django dynamic directories
logs
media

# Environment variables
.env
.env.*
django_venv

# Static files
node_modules

# docker volume
taibif_volumes

# csv data
csvData

.idea
/tmp

static/js/search.*
static/js/dataset-table.*

# django_canlendar stuff
xaa_date.csv
apps/calendar/management/