{% extends "base.html" %}

{% load i18n %}
{% load i18n static %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}
{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}
{% block body %}
<div class="jumbotron">
      <div class="container">
        <h1>django-scheduler for Taibif homepage</h1>
        <p>Something here</p>
      </div>
    </div>


<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Learn More!</h4>
        </div>
        <div class="modal-body">
          <p>To make it more user friendly there is the idea of EventRelation which links generic objects and an Event object.  The idea is that you will keep more information about the event in these relations such as who is authorized to view them. It could be the case that User is linked to Event to represent who is authorized to view the event, and also User is linked to event to represent who is attending the event.</p>
          <p>The EventRelation has another field called distinction.  So in the previous example we could add an EventRelation which links a User to an Event with the distinction "viewer" and another EventRelation which links a User to an Event with the distinction "attendee."</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<div class="container">
  <div class="row" style="background-color:#78c0f8;">
    
      <h2>Want to see it in action?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est alias a numquam magnam sapiente? Aperiam dolorem mollitia cum explicabo eaque aliquid amet? Veritatis dicta quis explicabo necessitatibus, voluptas perspiciatis molestiae sit accusantium suscipit natus, velit ipsa rerum quas fuga? Quod quisquam iusto ea enim dignissimos nobis, quo nam praesentium inventore?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere consequatur ex natus dolore? Maxime ex molestiae placeat illo a animi voluptatum, consectetur maiores quaerat. Voluptate quibusdam placeat iste nisi natus?</p>
      <p><a href="{% url "calendar_list" %}">{% trans "The list of available Calendars." %}</a></p>
      <p><a href="{% url "fullcalendar" %}">{% trans "Full Calendar Example" %}</a></p>
    

  </div>
  <div class="row">
    <h1> HERE SHOW THE CALENDAR</h1>
  </div>
</div>
<div class="testcalendar"  style="margin:2rem 30rem 22rem 30rem; width: 40rem; height: 12rem;">
<div id="calendar"></div>
</div>
<div style="background-color:#16693c;  width: auto; height: 12rem;">
  <h1>This is a footer</h1>
</div>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/schedule/api/occurrences?calendar_slug=example'
    })

});
</script>

{% endblock %}
